@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply w-full;
    &.active {
      @apply bg-slate-200 dark:bg-gray-800;
    }
  }
  .blockquote {
    @apply bg-gray-500 p-12 rounded-lg border-l-8 border-gray-400;
  }
  .card {
    @apply shadow-xl p-10 bg-gray-300 bg-opacity-70 rounded-md transition-all hover:bg-opacity-100 hover:shadow-lg duration-300 ease-out;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Noto Sans KR', BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
